altair==5.5.0
archspec
attrs==25.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
boltons
Brotli
cachetools==6.1.0
certifi
cffi
charset-normalizer
click==8.1.8
colorama
conda
conda-libmamba-solver
conda-package-handling
conda_package_streaming
distro
filelock==3.18.0
frozendict
fsspec==2025.7.0
gitdb==4.0.12
GitPython==3.1.45
h2
hf-xet==1.1.5
hpack
huggingface-hub==0.34.3
hyperframe
idna
Jinja2==3.1.6
jsonpatch
jsonpointer
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
libmambapy
MarkupSafe==3.0.2
menuinst
narwhals==2.0.1
numpy==2.0.2
packaging
pandas==2.3.1
pillow==11.3.0
protobuf==6.31.1
pyarrow==21.0.0
pycosat
pycparser
pydeck==0.9.1
PySocks
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
requests
rpds-py==0.26.0
ruamel.yaml
ruamel.yaml.clib
six==1.17.0
smmap==5.0.2
soupsieve==2.7
streamlit==1.48.1
tenacity==9.1.2
toml==0.10.2
tornado==6.5.1
tqdm
typing_extensions==4.14.1
tzdata==2025.2
urllib3
watchdog==6.0.0
zstandard==0.23.0
